-- Add auto_reload_interval to themes table
ALTER TABLE themes
ADD COLUMN IF NOT EXISTS auto_reload_interval INTEGER DEFAULT 20;

-- Update existing rows to have the default value
UPDATE themes SET auto_reload_interval = 20 WHERE auto_reload_interval IS NULL;

